@use '/app/scss/mixins.scss' as *;

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.preview {
    display: flex; // giữ cái này thôi
    align-items: center;
    gap: 8px;
    padding: 8px 1rem;
    width: 100%;
    height: 60px;
    max-width: 100%;
    background-color: var(--background);
    flex-wrap: wrap;
    overflow-y: auto;
    // border-bottom: var(--solid-border);
}

.input {
    max-height: 100px;
    width: 100%;
    padding: 8px 1rem;
    min-height: 40px;
    outline: none;
    resize: none;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: transparent;
    font-family: var(--font-family);
    border: none;
    transition: height 0.2s ease-in-out;
}

.extra {
    height: 40px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.attachment {
    display: flex;
    gap: 8px;

    .attach-icon:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.submit-icon {
    background-color: var(--black);
    color: var(--background);
    border-radius: 50rem;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-bottom: 4px;

    &:hover {
        opacity: 0.9;
    }
}

.preview-delete {
    position: absolute;
    top: -8px;
    right: -8px;
    box-shadow:
        #fff 0px 13px 27px -5px,
        #fff 0px 8px 16px -8px;

    &:hover {
        color: var(--red);
    }
}

.preview-image {
    width: 40px;
    height: 36px;
    position: relative;
    margin-right: 12px;

    .preview-img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}

.preview-file {
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding: 0 1rem;
    border-radius: 4px;
    position: relative;
    background-color: var(--black);
    color: var(--background);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;

    .preview-file-name {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}

// reply box

.reply-box {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    .reply-content {
        font-family: var(--font-family);
        text-align: left;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .reply-name {
        @include font-default;
        text-align: left;
        font-size: 1.5rem;
    }

    .reply-text {
        display: inline-block;
        @include font-default;
        font-size: 1.4rem;
        color: var(--text-low-color);
        text-align: left;
        margin-top: 4px;
        max-width: 500px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .reply-close {
        margin-left: 12px;
    }
}
