@use '../../../../scss/mixins.scss' as *;
.wrapper {
    --padding: 24px;
    padding: var(--padding) 0;
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.search-wrapper {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 24px;
}

.message-list {
    max-height: calc(100% - var(--input-height) - var(--padding));
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-top: 24px;
}

.empty-state {
    @include font-default;
    color: var(--message-noti-color);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.loader {
    width: 100%;
    height: 50px;
    @include center-align;
}
