@use '../../../../scss/mixins.scss' as *;
.wrapper {
    height: 100%;
}

.header {
    margin-bottom: 32px;
}

.content {
    padding-bottom: 80px;
}

.title {
    margin-bottom: 16px;
    @include font-default;
    font-size: 2.6rem;
    letter-spacing: 0.1px;
}

.des {
    @include font-default;
    font-size: 1.6rem;
    opacity: 0.9;
    font-weight: 500;
    letter-spacing: 0.1px;
}

@media (max-width: 468px) {
    .title {
        font-size: 2.4rem;
    }
}
