@import 'normalize.css';

@font-face {
    font-family: 'LargeRetro';
    src: url('../../assets/fonts/large-retro.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/lora-font.ttf');
}

:root {
    --font-family:
        system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    --large-retro-font-family: 'LargeRetro', sans-serif;
    --header-height: 9rem;
    --mobile-header-height: 6rem;
    --input-height: 4.4rem;
    --green: green;
}

[data-theme='light'] {
    --background: #ede0d0;
    --foreground: #171717;
    --text-color: #141414;
    --solid-border: 1px solid var(--foreground);
    --black: #333;
    --text-low-color: #5b5b5b;
    --box-shadow: var(--black) 3px 3px;
    --red: #b54c37;
    --epr-highlight-color: #b54c37 !important;
}

[data-theme='dark'] {
    --background: #212020;
    --foreground: #c8c8c8;
}

html,
body {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.default-layout,
.other-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);

    .container {
        height: 100%;
        width: 100%;
    }

    .header,
    .content {
        width: 100%;
    }
}

.other-layout > .container,
.other-layout > .container > .content {
    height: 100vh;
}

.qr-container {
    max-width: 500px;
    width: 100%;
    min-height: 100px;
    margin: 0 12px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
    border-radius: 16px;
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

    * {
        margin-bottom: 12px;
    }

    .qr-title {
        font-family: LargeRetro;
        letter-spacing: 1px;
        font-size: 2.6rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .logo-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
    .qr-code {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .download-btn {
        margin-top: 12px;
        // max-width: 360px;
        width: 100%;
        height: 44px;
        border-radius: 10rem;
        padding: 12px 42px;
        border: none;
        margin-top: 24px;
        font-family: var(--font-family);
        font-weight: 600;
        color: #fff;
        font-size: 1.7rem;
        cursor: pointer;
        // background: #acb6e5; /* fallback for old browsers */

        background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);

        background-color: #1dbfaf;
    }
}

@media (max-width: 600px) {
    .qr-container {
        max-width: 360px;

        .qr-code {
            width: 200px;
            height: 200px;
        }
    }
}

// Scrollbar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #666;
}

html *::-webkit-scrollbar-track {
    background: transparent;
}

html *::-webkit-scrollbar-thumb:hover {
    background: #444;
}

@media (max-width: 600px) {
    html *::-webkit-scrollbar {
        width: 4px;
    }

    html *::-webkit-scrollbar-thumb {
        width: 4px;
    }
}

// emoji-picker
.epr_x558go:focus {
    border: 1px solid #9a9a9a !important;
}

.epr_-f1jbax:focus:before {
    border: none !important;
}

.epr_-tul3d0 {
    max-height: 32px !important;
}
.epr_-a3ewa5 {
    max-width: 32px !important;
}

.epr_-u8wwnq {
    min-height: 32px !important;
}
.epr_xfdx0l {
    min-width: 32px !important;
}

.epr_jkst5z:focus {
    background-color: #fbb6a8 !important;
}

.epr_jkst5z:hover {
    background-color: #fbb6a8 !important;
}

.epr_-rk4ix5 {
    font-size: 1.4rem !important;
}

.epr_-3yva2a {
    border-top: 1px solid #9a9a9a !important;
}

.epr_cnf3p8 .epr-active {
    border: 1px solid #b54c37 !important;
}

.epr_-j7gyxp:focus {
    box-shadow: 0 0 0 3px #fbb6a8 !important;
}

.epr_6daqyu * {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif !important;
}

.epr_-ivanlx {
    border-radius: 50px !important;
    font-size: 1.4rem !important;
}

.epr_-z2fuzw {
    height: 36px !important;
}

.epr_-8ygbw8 {
    padding-bottom: 8px !important;
}

.epr_-kg0voo {
    display: none !important;
}
