// mixins.scss
@mixin center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-default {
    font-size: 1.4rem;
    font-weight: var(--font-family);
    font-color: var(--text-color);
}

$breakpoints: (
    'mobile': 600px,
    'tablet': 768px,
    'laptop': 1024px,
    'desktop': 1480px,
);

@mixin respond-to($device) {
    @if map-has-key($breakpoints, $device) {
        $size: map-get($breakpoints, $device);
        @media (max-width: $size) {
            @content;
        }
    } @else {
        @warn "Breakpoint '#{$device}' không tồn tại trong $breakpoints.";
    }
}
