@use '/app/scss/mixins.scss' as *;

.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    // aspect-ratio: 1/1;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #fff;
    cursor: pointer;
}

.sm.image {
    width: 50px;
    height: 50px;
}

.lg.image {
    width: 70px;
    height: 70px;
}

.no-content {
    @include font-default;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
