@use '/app/scss/mixins.scss' as *;
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--image-preview-bg);
    z-index: 999;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--image-preview-bg);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preview {
    flex: 1;
    height: 100%;
    z-index: 2;

    .image-slider {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-wrap {
        width: 100%;
        height: calc(100vh - 300px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        border: 1.5px solid var(--gray-color-low);
        background-color: var(--image-preview-img-bg);
    }

    .arrow {
        position: absolute;
        top: calc(50%);
        transform: translateY(-50%);
        z-index: 10;
        background-color: var(--image-preview-arrow-bg);
        color: var(--white);
        border-radius: 50%;
        width: 52px;
        height: 52px;
        @include center-align;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 24px;

        &:hover {
            background-color: var(--image-preview-arrow-bg-hover);
        }

        &.prev {
            left: 20px;
        }

        &.next {
            right: 20px;
        }
    }
}

.slider {
    max-height: 200px;
    background-color: var(--white);
    border-radius: 10px;
    z-index: 2;
}

.slider-container {
    height: 100%;
    display: flex;
    padding: 20px;

    .image-wrap {
        height: 120px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 12px;
    }

    .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1.2px solid var(--gray-color-low);
        background-color: var(--gray-color);

        filter: brightness(0.5);
    }

    .active .img {
        border: 2px solid var(--red);
        background-color: transparent;
        filter: brightness(1);
    }
}

.actions {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    display: flex;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
}

.download {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 3rem !important;
    z-index: 12;

    &:hover {
        color: var(--delete-message-color);
    }
}
