@use '../../../../scss/mixins.scss' as *;

.wrapper {
    width: 100%;
    padding: 8px 16px;
    position: relative;
    background-color: var(--gray-color-low);

    &:hover {
        background-color: var(--gray-color);
        cursor: pointer;
    }
}

.title {
    font-weight: 600;
    margin-bottom: 4px;
    @include font-default;
    font-size: 1.6rem;
}

.content {
    padding-right: 20px;
    font-family: var(--font-family);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color-low);
}

.border-line {
    border-bottom: 1px solid var(--white);
}

.icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
}

.img {
    margin-right: 8px;
    margin-top: 8px;
    border: 1.5px solid var(--gray-color);
}

.color {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-color: var(--primary);
}
