@use '../../app/scss/mixins.scss' as *;

.wrapper {
    max-width: 400px;
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    padding-bottom: 24px;
    position: relative;
    border: var(--setting-box-border);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.large {
    max-width: 600px;
}

.superLarge {
    max-width: 700px;
}

.header {
    @include center-align;
    margin-top: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px 0;

    .title {
        @include font-default;
        font-size: 2rem;
        text-align: center;
    }

    .description {
        @include font-default;
        font-size: 1.4rem;
        color: var(--setting-box-des-color);
        text-align: center;
        margin: 0 12px;
        margin-bottom: 8px;
    }
}

.close-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 2;
}

.content {
    padding: 0 24px;
}

.delete-btn {
    @include center-align;
    width: 100%;
    margin-top: 24px;
    padding: 12px 0;
    border-radius: 50rem;
    background-color: var(--red);
    border: none;
    @include font-default;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.deleteBtn {
    background: var(--red) !important;
    color: #fff !important;
}

.large {
    max-width: min(500px, 100% - 32px);

    .description {
        margin: 0 40px;
    }
}

.btns {
    display: flex;
    align-items: center;
    gap: 12px;

    > * {
        flex: 1;
    }
}

.cancel-btn {
    @include center-align;
    width: 100%;
    height: 44px;
    border-radius: 10rem;
    padding: 12px 42px;
    border: none;
    margin-top: 24px;
    font-size: 1.4rem;
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 600;
    color: var(--black-low);
    background-color: var(--setting-box-cancel-btn-bg);
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    border: var(--solid-border);

    @include respond-to('mobile') {
        display: none;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--setting-box-cancel-btn-hover);
    }
}

.submit-btn {
    min-width: none;
    border: 1px solid transparent;
}
