@use '/app/scss/mixins.scss' as *;
.wrapper {
    width: 100%;
    display: flex;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 8px;

    &:hover {
        background-color: #e9e9e9;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    flex: 1;
}

.avatar-wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.name {
    @include font-default;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.des {
    @include font-default;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 4px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red);
    position: absolute;
    bottom: 4px;
    right: 2px;
}

.status.online {
    background-color: var(--green);
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.action-icon {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    font-size: 2.2rem;
    &:hover {
        color: var(--red);
    }
}

.action-icon.no-hover {
    &:hover {
        color: unset;
    }
}
