@use '../../app/scss/mixins.scss' as *;

.wrapper {
    @include center-align;
}

.container {
    max-width: 576px;
    width: 100%;
    margin: 8px;
    background-color: var(--white);
    min-height: 500px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: var(--auth-opacity);
    background-image: var(--auth-bg-image);

    background-size:
        200% 200%,
        285% 500%,
        285% 500%,
        cover,
        cover;
    background-position:
        bottom left,
        109% 68%,
        109% 68%,
        center,
        center;
    border-radius: 16px;
}

.close-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--gray-color);
    transition: opacity 0.2s ease;
    z-index: 5;

    &:hover {
        opacity: 0.8;
    }
}
