@use '/app/scss/mixins.scss' as *;

.wrapper {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: var(--solid-border);

    @include respond-to('mobile') {
        padding: 0 1rem;
    }
}

.logo {
    font-size: 3rem;
    margin: 0;
    font-family: var(--large-retro-font-family);
    color: var(--foreground);
}

.header-menu {
    display: flex;
}

.hmenu-item {
    @include center-align;
    margin-left: 8px;
    color: var(--foreground);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: background-color 0.2s ease;
}

.message-icon {
    color: var(--red);
}

.hmenu-item:hover {
    background-color: #abaaaa;
    cursor: pointer;
}
