@use '/app/scss/mixins.scss' as *;

.wrapper {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: var(--solid-border);

    @include respond-to('mobile') {
        padding: 0 1rem;
    }
}

.logo {
    font-size: 3rem;
    margin: 0;
    font-family: var(--large-retro-font-family);
    color: var(--foreground);
    cursor: pointer;
}

.header-menu {
    display: flex;
}

.hmenu-item {
    @include center-align;
    margin-left: 8px;
    color: var(--foreground);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: background-color 0.2s ease;
}

.hmenu-item:hover {
    background-color: #bbbbbb77;
    cursor: pointer;
}

.message:hover {
    background-color: transparent;
    cursor: pointer;
}

.message {
    position: relative;
}

.message-count,
.notify-count {
    @include center-align;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--background);
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-family: var(--font-family);
}

.notify-count {
    left: 4px;
}

.active {
    color: var(--red);
}
