@use '/app/scss/mixins.scss' as *;

.wrapper {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: var(--solid-border);

    @include respond-to('mobile') {
        padding: 0 1rem;
    }
}

.logo {
    font-size: 3rem;
    margin: 0;
    font-family: var(--large-retro-font-family);
    color: var(--foreground);
    cursor: pointer;
}

.header-menu {
    display: flex;
}

.hmenu-item {
    @include center-align;
    margin-left: 8px;
    color: var(--foreground);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: background-color 0.2s ease;
}

.hmenu-item:hover {
    background-color: #bbbbbb77;
    cursor: pointer;
}

.message:hover {
    background-color: transparent;
    cursor: pointer;
}

.message {
    position: relative;
}

.message-count,
.notify-count {
    @include center-align;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--background);
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-family: var(--font-family);
}

.notify-count {
    left: 4px;
}

.active {
    color: var(--red);
}

.avatar {
    border: 2px solid #868686;
}

// user menu

.user-menu {
    padding: 4px;
    min-width: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .um-item {
        flex: 1;
        padding: 8px 24px;
        border-radius: 4px;
        @include font-default;
    }

    .um-item:hover {
        background-color: #c2c2c2;
        cursor: pointer;
    }

    .separate {
        padding-bottom: 12px;
        border-bottom: 1px solid #c2c2c2;
        margin: 4px 0 12px 0;
    }

    .no-hover {
        border-radius: 0px;
    }

    .no-hover:hover {
        background-color: transparent;
        cursor: default;
    }
}
