@use '/app/scss/mixins.scss' as *;

.wrapper {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    padding-top: env(safe-area-inset-top);
    height: calc(var(--header-height) + env(safe-area-inset-top));
    border-bottom: var(--solid-border);

    @include respond-to('mobile') {
        padding: 0 1rem;
        height: var(--mobile-header-height);
    }
}

.logo {
    font-size: 3rem;
    margin: 0;
    font-family: var(--large-retro-font-family);
    color: var(--foreground);
    cursor: pointer;
}

.header-menu {
    display: flex;
}

.hmenu-item {
    @include center-align;
    margin-left: 8px;
    color: var(--foreground);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: background-color 0.2s ease;
}

.hmenu-item:hover {
    background-color: var(--gray-color-low);
    cursor: pointer;
}

.message:hover {
    background-color: transparent;
    cursor: pointer;
}

.message {
    position: relative;
}

.message-count,
.notify-count {
    @include center-align;
    min-width: 16px;
    min-height: 16px;
    padding: 2px;
    border-radius: 4px;
    background-color: var(--black-low);
    color: var(--background);
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-family: var(--font-family);
}

.notify-count {
    left: 4px;
}

.active {
    color: var(--red);
}

.avatar {
    border: 2px solid var(--gray-color-low);
}

// user menu

.user-menu {
    padding: 4px;
    min-width: 100px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: var(--white-box-shadow);

    .um-item {
        flex: 1;
        padding: 8px 24px;
        border-radius: 4px;
        @include font-default;
    }

    .um-item:hover {
        background-color: var(--gray-color);
        cursor: pointer;
    }

    .separate {
        padding-bottom: 12px;
        border-bottom: 1.5px solid var(--gray-color-low);
        margin: 4px 0 12px 0;
    }

    .name {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .no-hover {
        border-radius: 0px;
    }

    .no-hover:hover {
        background-color: transparent;
        cursor: default;
    }
}

.auth-btn {
    padding: 9px 20px;
    margin: 0 8px;
    border-radius: 30px;
    background-color: var(--red);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.auth-btn.text {
    background-color: transparent;
    color: var(--black-low);
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }

    @include respond-to('mobile') {
        display: none;
    }
}

.phone {
    animation: pulse 2s infinite;
    .phone-icon {
        color: green;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(14, 172, 59, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
