@use '../../app/scss/mixins.scss' as *;
.wrapper {
    display: flex;
    background-color: var(--white);
    max-width: 520px;
    width: 100%;
    border-radius: 12px;
    min-height: 500px;
    max-height: 648px;
    height: 100%;
    box-shadow: var(--creation-box-shadow);
    overscroll-behavior: none;
    position: relative;
    margin: 0 8px;
    overflow: hidden;
    // background-image: url('../../assets/images/creation-bg.png');
    // background-position: center;
    // background-size: cover;
    @include respond-to(tablet) {
        max-width: 576px;
        .r-side {
            display: none;
            width: 0;
            visibility: hidden;
        }

        .l-side {
            width: 100%;
            border-right: none;
        }
    }
}

.l-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-right: var(--solid-border);
    padding: 44px 24px;
    overscroll-behavior: none;

    overflow-y: auto;
}

.ls-input {
    width: 100%;
}

.ls-title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

.ls-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 24px;

    @include respond-to('mobile') {
        padding: 0;
    }
}

.image-input {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    margin-bottom: 24px;
}

.close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.password-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    margin-bottom: 12px;

    .toggle-label {
        @include font-default;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color);
    }
}
