@use '../../../../../scss/mixins.scss' as *;

.wrapper {
    display: flex;
    padding: 12px;
    flex-wrap: wrap;
    height: 100%;
    max-height: 80vh;
    overflow-y: auto;
    padding-bottom: 24px;
    @include respond-to('tablet') {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 0;
    }
}
