@use '../../scss/mixins.scss' as *;
.wrapper {
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    background-color: var(--setting-bg);
    color: var(--text-color);
    border-radius: 12px;
    border: 2px solid #66666688;
    position: relative;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    margin-bottom: 12px;
    @include font-default;

    font-size: 2.6rem;
    letter-spacing: 0.1px;
}

.description {
    margin-bottom: 12px;
    @include font-default;
    font-size: 1.5rem;
    opacity: 0.9;
    letter-spacing: 0.1px;
}

.left-side {
    max-width: 350px;
    width: 100%;
    height: 100%;
    padding: 40px;

    border-right: 2px solid #66666688;
    background-color: var(--setting-bg);
}

.right-side {
    flex: 1;
    height: 100%;
    min-width: 500px;
    padding: 80px;
    padding-right: 60px;
    padding-bottom: 0px;
    overflow-y: scroll;
    overscroll-behavior: none;

    &::-webkit-scrollbar-track {
        background: #e2e2e2;
    }
}

.app-img {
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
}

.controller {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .control-btn {
        height: 40px;
        border-radius: 12px;
        color: var(--text-color);
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        @include font-default;
        font-size: 1.6rem;
        font-weight: 500;
        transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            background-color: var(--gray-color);
            cursor: pointer;
        }
    }

    .control-btn.active {
        background-color: var(--red);
        color: #fff;
    }

    .control-btn-icon {
        margin: 0 12px;
    }
}

.close-icon,
.menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
}

.menu-icon {
    background-color: transparent;
    left: 20px;
    top: 20px;
    display: none;

    &:hover {
        background-color: var(--gray-color);
    }
}

@media (max-width: 948px) {
    .left-side {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 12px;
        z-index: 1;
        width: 0;
        padding: 0;
        transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-right: none;

        * {
            visibility: hidden;
        }
    }

    .m-header {
        display: flex;
        background-color: var(--model-box-br);
        height: 60px;
        position: relative;
    }

    .right-side {
        min-width: 100%;
        display: block;
        padding-top: 12px;
        padding-bottom: 100px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .left-side.visible {
        max-width: 100%;
        width: 100%;
        padding: 40px;

        * {
            visibility: visible;
        }
    }

    .menu-icon {
        display: flex;
        left: 12px;
        top: 12px;
    }

    .close-icon {
        right: 12px;
        top: 12px;
    }
}

@media (max-width: 468px) {
    .title {
        font-size: 2.4rem;
    }
}
