@use '/app/scss/mixins.scss' as *;
.wrapper {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow-y: auto;
    padding-bottom: 24px;
    padding-right: 24px;
}

.icon {
    width: 44px;
    height: 44px;
    min-width: 44px;
    min-height: 44px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.6rem;
    margin-right: 12px;
}

.attach-file {
    &:first-child {
        padding-top: 0;
    }
}

.file {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--text-low-color);
    cursor: pointer;
}

.file-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 4px;
}

.file-name {
    @include font-default;
    max-width: calc(100% - 56px);
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-size {
    @include font-default;
    font-size: 1.2rem;
    color: var(--text-low-color);
}

.primary {
    .icon {
        width: 20px;
        height: 20px;
    }

    .file-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    border: var(--solid-border);
    box-shadow: var(--box-shadow);
}

.no-content {
    @include font-default;
}
