.dot-pulse {
    position: relative;
    left: -9999px;
    width: 6px; // Reduced size
    height: 6px; // Reduced size
    border-radius: 3px; // Adjusted for smaller size
    background-color: var(--dot-loading-color);
    color: var(--dot-loading-color);
    box-shadow: 9999px 0 0 -3px; // Reduced shadow size
    animation: dot-pulse 2s infinite linear;
    animation-delay: 0.2s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 6px; // Reduced size
    height: 6px; // Reduced size
    border-radius: 3px; // Adjusted for smaller size
    background-color: var(--dot-loading-color);
    color: var(--dot-loading-color);
}
.dot-pulse::before {
    box-shadow: 9984px 0 0 -3px; // Reduced shadow size
    animation: dot-pulse-before 2s infinite linear;
    animation-delay: 0s;
}
.dot-pulse::after {
    box-shadow: 10014px 0 0 -3px; // Reduced shadow size
    animation: dot-pulse-after 2s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -3px;
    }
    30% {
        box-shadow: 9984px 0 0 1px;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -3px;
    }
}
@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -3px;
    }
    30% {
        box-shadow: 9999px 0 0 1px;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -3px;
    }
}
@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -3px;
    }
    30% {
        box-shadow: 10014px 0 0 1px;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -3px;
    }
}

// spinner

.spinner {
    width: 50px;
    margin: 4px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, var(--black)) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}

@keyframes l4 {
    to {
        transform: rotate(1turn);
    }
}

.spinner.small {
    width: 24px;
    --b: 4px;
}

.spinner.medium {
    width: 32px;
    --b: 6px;
}
